In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Generated file
json_file_manual_split = "/home/SharedFolder/CurrentDatasets/bdd100k_sorted_coco/annotations/bdd100k_sorted_train_dev_C_over.json"
df_bdd_generated = pd.read_json(json_file_manual_split)
df_bdd_generated_attributes = pd.DataFrame(df_bdd_generated['attributes'].tolist())
df_bdd_generated["timeofday"] = df_bdd_generated_attributes["timeofday"]
df_bdd_generated["weather"] = df_bdd_generated_attributes["weather"]
df_bdd_generated = df_bdd_generated.drop(columns = ["labels", "timestamp", "attributes"])
df_bdd_generated.head(3)

                     name timeofday weather
0   231b2c4f-aa9b410d.jpg     night   clear
1   65cb7a27-7c38b548.jpg     night   clear
10  a689ed23-10a4f9eb.jpg     night   rainy

In [3]:
# Original valid
labelfile_valid = "/home/SharedFolder/CurrentDatasets/bdd100k/labels/bdd100k_labels_images_val.json"
df_bdd_valid = pd.read_json(labelfile_valid)
df_bdd_valid_attributes = pd.DataFrame(df_bdd_valid['attributes'].tolist())
df_bdd_valid["timeofday"] = df_bdd_valid_attributes["timeofday"]
df_bdd_valid["weather"] = df_bdd_valid_attributes["weather"]
df_bdd_valid = df_bdd_valid.drop(columns = ["labels", "timestamp", "attributes"])
df_bdd_valid.head(3)

                    name timeofday   weather
0  b1c66a42-6f7d68ca.jpg   daytime  overcast
1  b1c81faa-3df17267.jpg     night     clear
2  b1c81faa-c80764c5.jpg     night     clear

In [4]:
# Original train
labelfile_train = "/home/SharedFolder/CurrentDatasets/bdd100k/labels/bdd100k_labels_images_train.json"
df_bdd_train = pd.read_json(labelfile_train)
df_bdd_train_attributes = pd.DataFrame(df_bdd_train['attributes'].tolist())
df_bdd_train["timeofday"] = df_bdd_train_attributes["timeofday"]
df_bdd_train["weather"] = df_bdd_train_attributes["weather"]
df_bdd_train = df_bdd_train.drop(columns = ["labels", "timestamp", "attributes"])
df_bdd_train.head(3)

                    name  timeofday weather
0  0000f77c-6257be58.jpg    daytime   clear
1  0000f77c-62c2a288.jpg  dawn/dusk   clear
2  0000f77c-cb820c98.jpg  dawn/dusk   clear

In [5]:
# Join generated with original valid
df_join_generated_valid = pd.merge(df_bdd_generated, df_bdd_valid, on=['name'], how='inner')
df_join_generated_valid.head(3)

                    name timeofday_x weather_x timeofday_y weather_y
0  ca08d93c-c406e9aa.jpg       night     snowy       night     clear
1  c3b60e81-b28ef868.jpg       night    cloudy       night     rainy
2  c3b60e81-b28ef868.jpg       night    cloudy       night     rainy

In [6]:
# Join generated with original train
df_join_generated_train = pd.merge(df_bdd_generated, df_bdd_train, on=['name'], how='inner')
df_join_generated_train.head(3)

                    name timeofday_x weather_x timeofday_y weather_y
0  231b2c4f-aa9b410d.jpg       night     clear       night     clear
1  65cb7a27-7c38b548.jpg       night     clear       night     clear
2  a689ed23-10a4f9eb.jpg       night     rainy       night     clear

In [7]:
# Confusion matrix time of day: generated vs. valid

In [8]:
df_confusion_timeofday_generated_valid = pd.crosstab(df_join_generated_valid["timeofday_x"], df_join_generated_valid["timeofday_y"])
df_confusion_timeofday_generated_valid

timeofday_y  daytime  night
timeofday_x
daytime          113      4
night             34     79

In [9]:
# Confusion matrix time of day: generated vs. train

In [10]:
df_confusion_timeofday_generated_train = pd.crosstab(df_join_generated_train["timeofday_x"], df_join_generated_train["timeofday_y"])
df_confusion_timeofday_generated_train

timeofday_y  daytime  night
timeofday_x
daytime          652    228
night            198    687

In [11]:
# Confusion matrix weather: generated vs. valid

In [12]:
df_confusion_weather_generated_valid = pd.crosstab(df_join_generated_valid["weather_x"], df_join_generated_valid["weather_y"])
df_confusion_weather_generated_valid

weather_y  clear  overcast  partly cloudy  rainy  snowy
weather_x
clear          5         6              2     26     22
cloudy         8         2              1     30     21
rainy         22         6              3     13      4
snowy         26         7              5      9     12

In [13]:
# Confusion matrix weather: generated vs. train

In [14]:
df_confusion_weather_generated_train = pd.crosstab(df_join_generated_train["weather_x"], df_join_generated_train["weather_y"])
df_confusion_weather_generated_train

weather_y  clear  overcast  partly cloudy  rainy  snowy
weather_x
clear         43        16            128    116    136
cloudy        56        23             80    131    146
rainy        192        43             85     86     44
snowy        148        48             43     87    114