In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Generated file
json_file_manual_split = "/home/SharedFolder/CurrentDatasets/bdd100k_sorted_coco/annotations/bdd100k_sorted_test.json"
df_bdd_generated = pd.read_json(json_file_manual_split)
df_bdd_generated_attributes = pd.DataFrame(df_bdd_generated['attributes'].tolist())
df_bdd_generated["timeofday"] = df_bdd_generated_attributes["timeofday"]
df_bdd_generated["weather"] = df_bdd_generated_attributes["weather"]
df_bdd_generated = df_bdd_generated.drop(columns = ["labels", "timestamp", "attributes"])
df_bdd_generated.head(3)

                     name timeofday weather
0   4feefa31-18e668bd.jpg     night   clear
1   b35a415a-02526f57.jpg   daytime   snowy
10  52799e9e-8c8673f3.jpg     night   clear

In [3]:
# Original valid
labelfile_valid = "/home/SharedFolder/CurrentDatasets/bdd100k/labels/bdd100k_labels_images_val.json"
df_bdd_valid = pd.read_json(labelfile_valid)
df_bdd_valid_attributes = pd.DataFrame(df_bdd_valid['attributes'].tolist())
df_bdd_valid["timeofday"] = df_bdd_valid_attributes["timeofday"]
df_bdd_valid["weather"] = df_bdd_valid_attributes["weather"]
df_bdd_valid = df_bdd_valid.drop(columns = ["labels", "timestamp", "attributes"])
df_bdd_valid.head(3)

                    name timeofday   weather
0  b1c66a42-6f7d68ca.jpg   daytime  overcast
1  b1c81faa-3df17267.jpg     night     clear
2  b1c81faa-c80764c5.jpg     night     clear

In [4]:
# Original train
labelfile_train = "/home/SharedFolder/CurrentDatasets/bdd100k/labels/bdd100k_labels_images_train.json"
df_bdd_train = pd.read_json(labelfile_train)
df_bdd_train_attributes = pd.DataFrame(df_bdd_train['attributes'].tolist())
df_bdd_train["timeofday"] = df_bdd_train_attributes["timeofday"]
df_bdd_train["weather"] = df_bdd_train_attributes["weather"]
df_bdd_train = df_bdd_train.drop(columns = ["labels", "timestamp", "attributes"])
df_bdd_train.head(3)

                    name  timeofday weather
0  0000f77c-6257be58.jpg    daytime   clear
1  0000f77c-62c2a288.jpg  dawn/dusk   clear
2  0000f77c-cb820c98.jpg  dawn/dusk   clear

In [5]:
# Join generated with original valid
df_join_generated_valid = pd.merge(df_bdd_generated, df_bdd_valid, on=['name'], how='inner')
df_join_generated_valid.head(3)

                    name timeofday_x weather_x timeofday_y weather_y
0  b35a415a-02526f57.jpg     daytime     snowy     daytime     snowy
1  b685eb37-dc649de0.jpg       night     clear       night     clear
2  b3ea802a-8830eb32.jpg     daytime     clear     daytime  overcast

In [6]:
# Join generated with original train
df_join_generated_train = pd.merge(df_bdd_generated, df_bdd_train, on=['name'], how='inner')
df_join_generated_train.head(3)

                    name timeofday_x weather_x timeofday_y weather_y
0  4feefa31-18e668bd.jpg       night     clear       night     clear
1  52799e9e-8c8673f3.jpg       night     clear     daytime     clear
2  895951e7-be920a26.jpg       night     clear       night     clear

In [7]:
# Confusion matrix time of day: generated vs. valid

In [8]:
df_confusion_timeofday_generated_valid = pd.crosstab(df_join_generated_valid["timeofday_x"], df_join_generated_valid["timeofday_y"])
df_confusion_timeofday_generated_valid

timeofday_y  daytime  night
timeofday_x
daytime           65     77
night             74     69

In [9]:
# Confusion matrix time of day: generated vs. train

In [10]:
df_confusion_timeofday_generated_train = pd.crosstab(df_join_generated_train["timeofday_x"], df_join_generated_train["timeofday_y"])
df_confusion_timeofday_generated_train

timeofday_y  daytime  night
timeofday_x
daytime          427    431
night            434    423

In [11]:
# Confusion matrix weather: generated vs. valid

In [12]:
df_confusion_weather_generated_valid = pd.crosstab(df_join_generated_valid["weather_x"], df_join_generated_valid["weather_y"])
df_confusion_weather_generated_valid

weather_y  clear  overcast  partly cloudy  rainy  snowy
weather_x
clear        108        24             13     17     20
cloudy        48         4              4      3      3
rainy         13         3              1      3      2
snowy         12         1              3      1      2

In [13]:
# Confusion matrix weather: generated vs. train

In [14]:
df_confusion_weather_generated_train = pd.crosstab(df_join_generated_train["weather_x"], df_join_generated_train["weather_y"])
df_confusion_weather_generated_train

weather_y  clear  overcast  partly cloudy  rainy  snowy
weather_x
clear        629       148            103     75     79
cloudy       218        66             30     33     39
rainy         94        13              6     10     17
snowy         94        18             11     20     12